
<modal>

        {{#if title}}
        <div class="modal-header">
            <h4 class="modal-title">{{title}}</h4>
        </div>
        {{/if}}

        <div class="modal-body">
            {{message}}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn primary small" data-dismiss="modal">{_'Cancel'}</button>
        </div>

</modal>