
<modal>

    <prompt-modal>

        <div class="modal-body">
            {{message}}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn primary small" can-click="yes">{_'Yes'}</button>
            <button type="button" class="btn secondary small" can-click="no">{_'No'}</button>
        </div>

    </prompt-modal>

</modal>